name: Docker Image Build and Push

on:
  push:
    branches:
      - main
    paths:
      - 'version'
  workflow_dispatch:
    inputs:
      skip_version_check:
        description: 'Skip version file change check'
        required: false
        type: boolean
        default: false

env:
  DOCKERHUB_REPO: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/rapidocr_api
  GHCR_REPO: ghcr.io/${{ secrets.GHCR_USERNAME }}/rapidocr_api

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      actions: write
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read version from VERSION file
        id: get_version
        run: |
          VERSION=$(cat version)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Check if version file changed
        id: check_version_change
        if: ${{ !inputs.skip_version_check }}
        run: |
          if [[ $(git diff --name-only HEAD^ HEAD | grep version) ]]; then
            echo "::set-output name=changed::true"
          else
            echo "::set-output name=changed::false"
            echo "Version file not changed, skipping build"
            exit 0
          fi

      - name: Set up Docker Buildx
        if: ${{ steps.check_version_change.outputs.changed == 'true' || inputs.skip_version_check }}
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ matrix.platform }}

      - name: Login to GHCR
        if: ${{ steps.check_version_change.outputs.changed == 'true' || inputs.skip_version_check }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: ${{ steps.check_version_change.outputs.changed == 'true' || inputs.skip_version_check }}
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        if: ${{ steps.check_version_change.outputs.changed == 'true' || inputs.skip_version_check }}
        id: docker-build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: ${{ matrix.platform }}
          tags: |
            ${{ env.GHCR_REPO }}:${{ env.VERSION }}
            ${{ env.GHCR_REPO }}:latest
            ${{ env.DOCKERHUB_REPO }}:${{ env.VERSION }}
            ${{ env.DOCKERHUB_REPO }}:latest
          build-args: |
            VERSION=${{ env.VERSION }}
